@tailwind base;
@tailwind components;
@tailwind utilities;
/* TicTacToe.css */

/* Animation for the heading */
@keyframes headingAnimation {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-heading {
  animation: headingAnimation 1s ease-out;
}

/* Animation for winning squares */
@keyframes winnerAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  
  .animate-winner {
    animation: winnerAnimation 0.5s ease-in-out;
  }